<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Mail Settings</title>
</head>
<body>

<h2>Settings</h2>

<form th:action="@{/update}" method="post" th:object="${settings}">

  <label>Languages:</label>
  <select th:field="*{language}">
    <option value="English">English</option>
    <option value="Vietnamese">Vietnamese</option>
    <option value="Japanese">Japanese</option>
    <option value="Chinese">Chinese</option>
  </select>
  <br><br>

  <label>Page Size:</label>
  Show
  <select th:field="*{pageSize}">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  emails per page
  <br><br>

  <label>Spams filter:</label>
  <input type="checkbox" th:field="*{spamFilter}">
  Enable spams filter
  <br><br>

  <label>Signature:</label><br>
  <textarea th:field="*{signature}" rows="4" cols="30"></textarea>
  <br><br>

  <button type="submit">Update</button>
  <button type="reset">Cancel</button>

</form>

</body>
</html>
